* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: Georgia;
    background-color: #5161D4;
}

#bird {
    display: none;
}

#gameover {
    display: none;
}

#canvas {
    width: 1300px;
    height: 610px;
}